<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Candy Predictor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
</head>

<body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Baby weight predictor</span>
    </div>
  </md-toolbar>
  <md-content flex style="width:420">
    <md-card>
      <md-card-content>
        <p><em>Example application to predict a candy's popularity.</em></p>
       </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span>pricepercent</span>
          <md-slider-container>
              {: data.pricepercent :}&nbsp;
            <md-slider aria-label="Slider" min="0" max="1"
                       ng-model="data.pricepercent" id="pricepercent-slider">
            </md-slider>
          </md-slider-container>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>chocolate</span>
          <md-radio-group ng-model="data.chocolate" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>fruity</span>
          <md-radio-group ng-model="data.fruity" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>peanutyalmondy</span>
          <md-radio-group ng-model="data.peanutyalmondy" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>crispedricewafer</span>
          <md-radio-group ng-model="data.crispedricewafer" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>hard</span>
          <md-radio-group ng-model="data.hard" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>

        <div style="margin-bottom:32px" layout="row" layout-align="space-between center">
          <span>bar</span>
          <md-radio-group ng-model="data.bar" layout="row">
            <md-radio-button value="true">true</md-radio-button>
            <md-radio-button value="false">false</md-radio-button>
          </md-radio-group>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="submit()" class="md-accent md-raised">Predict</md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span>Prediction</span>
          <span>{: result :}</span>
        </div>
      </md-card-content>
    </md-card>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

  <script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue-grey')
        .accentPalette('orange');
    });
    app.controller('myCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.data = {};
        $scope.submit = function() {
          $scope.result = "Wait...";
          $http({
            method : 'POST',
            url : '/api/predict',
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data.result;
          }).error(function(data, status, headers, config) {
            $scope.result = 'Error';
          });
        }
      }
    ]);
  </script>
</body>
</html>
